@font-face {
	font-family: 'Conv_Star_Jedi_Rounded';
	src: url('./fonts/Star_Jedi_Rounded.otf');

}

#containter { 
	width: 500px;
	background-size: cover;
	background-image: url("background.png");
	color: yellow;
}

.header {
	text-align: center;
	font-family: "Conv_Star_Jedi_Rounded";
}

#timer {
	text-align: center;
}

#quotation {

}






